.text-blue {
    color: rgb(9, 57, 189);
}
.text-red {
    color: rgb(173, 29, 29);
}
.text-yellow {
    color: rgb(212, 214, 68);
}
.text-green {
    color: rgb(39, 104, 42);
}
.text-grey {
    color: rgb(168, 167, 167);
}
.bg-blue {
    background-color: rgb(65, 102, 204);
}
.bg-yellow {
    background-color: rgb(251, 255, 0);
}
.bg-green {
    background-color: rgb(37, 141, 42);
}
.bg-orange {
    background-color: rgb(179, 67, 15);
}
.logo {
    width: auto;
    height: 64px;
}

.card-img-top {
    width: 256px;
    height: auto;
}

.logo-itchio {
    width: 256px;
    height: auto;

    margin-top: 80px;
    margin-bottom: 85px;
}

.card {
    height: 512px;
}

.card-description {
    height: 100px;
    overflow: scroll;
}